.card {
    width: 300px;
    height: 400px;
    background-color: #000;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    color: #fff;
    font-family: Rubik;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .card-image {
    width: 280px;
    height: 280px;
    margin-top: 20px;
  }
  
  .card-text {
    margin-top: auto;
  }
  
  .card-title {
    font-size: 18px;
    margin: 10px 0;
    font-weight:200;
    font-size: 14px;
    color: gray;
  }
  
  .card-name {
    font-size: 24px;
    font-weight: 400;
    font-size: px;
  }