.carousel-container {
    display: flex;
    align-items: center;
    position: relative;
}
  
  .carousel-controls {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 500px;
    margin-bottom: 20px;
  }
  
  .arrow-button {
    background-color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
  }
  
  .arrow-button.disabled {
    background-color: grey;
    cursor: not-allowed;
  }
  
  .carousel-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 300px;
    height: 400px;
  }
  
  .carousel-card {
    display: none;
  }
  
  .carousel-card.active {
    display: block;
  }
  
  .astronaut-card {
    text-align: center;
  }
  
  .astronaut-image {
    width: 100%;
    height: auto;
  }
  
  .astronaut-role {
    font-size: 18px;
    font-weight: bold;
  }
  
  .astronaut-name {
    font-size: 16px;
  }
  